streamlit
streamlit-webrtc
joblib
numpy
pillow
fastai==2.7.12
# torch # Pastikan baris torch ini dikomentari atau dihapus, karena fastai akan menarik dependensinya sendiri
torchvision
opencv-python-headless
